logo-color=whitesmoke
text-color=#404040
body
    margin 0
.container
    height 100vh  
    background-color: logo-color
    margin: auto
    display: flex
    justify-content: center
    align-items: center
.controls
    width: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    .button
        font-family: "Segoe UI","Microsoft Sans Serif",sans-serif
        color:logo-color
        border-radius: 10px
        margin: 18px
        padding: 8px 18px
        background-color: red
        &:hover
            opacity .6
.shadow
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);
.ball    
    position relative
    height 100px
    width 100px
    border-radius: 50%
    background-color: red
    margin-right: 18px
    animation-name: move
    animation-duration: 3s
    @extend .shadow
    // animation-iteration-count: infinite
    .sphere
        position: absolute
        height 100px
        width 100px
        border-radius: 50%
        animation-name: rotate
        animation-duration: 3s
        // animation-iteration-count: infinite
        .a
            position: absolute
            height: 70px
            width 70px
            left 10px
            top 10px
            border: 5px solid logo-color;
            border-radius: 50%
            clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);

        .b
            position absolute
            height 10px
            width 10px
            left calc(40% - 8px)
            top calc(40% - 8px)
            border-radius: 50%
            background-color: logo-color

            animation-name: eye
            animation-duration: 3s
            // animation-iteration-count: infinite
        .c
            position: absolute
            width 5px
            height 35px
            left calc(50%)
            top calc(50%- 18px)
            background-color: logo-color
        .d
            position: absolute
            width 15px
            height 5px
            left calc(50%)
            top calc(50%+15px)
            background-color: logo-color
        .e
            position: absolute
            width 20px
            height 5px
            left calc(50%+19px)
            top calc(50%)
            background-color: logo-color

    
    .shine
        position: absolute
        height: 80px
        width 80px
        border-radius: 50%
        background-color: white
        opacity .2
    .ball-animation
        position absolute
        height 100px
        width 100px
        border-radius: 50%
        background-color: red
        margin-right: 18px
        animation-name: zoom
        animation-duration: 3s
        opacity 0
        // animation-iteration-count: infinite
.text
    color: text-color
    font-family: "Segoe UI","Microsoft Sans Serif",sans-serif
    .big
        position relative
        top 15px
        font-weight: bold
        font-size: 75px
        animation-name: text
        animation-duration: 3s
        // animation-iteration-count: infinite
    .small
        position relative
        font-size: 30px
        animation-name: text-secondary
        animation-duration: 3s
        // animation-iteration-count: infinite

@keyframes zoom
    0%  
        left -500px
        top -200px
        height 800px
        width 800px
        opacity .6
    100%
            left 0
            top 0
            position relative
            height 100px
            width 100px
            border-radius: 50%
            background-color: red
            margin-right: 18px
            opacity: .1

@keyframes move
    from 
        left 150px
    to  
        left 0px

@keyframes rotate
    from 
        transform: rotateY(90 deg)
    to 
        transform: rotateY(0 deg)

@keyframes text
    0%
        opacity 0
    50%
        opacity 0
    100%
        opacity 1

@keyframes text-secondary
    0%
        opacity 0
    80%
        opacity 0
    100%
        opacity 1

@keyframes eye
    51%
        transform: rotateX(0deg)
    60%
        transform: rotateX(80deg)
    70%
        transform: rotateX(0deg)
