.container {
  height: 100vh;
  background-color: #f5f5f5;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #f00;
  margin-right: 18px;
}
.ball .shine {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
}
.ball .a {
  position: absolute;
  height: 70px;
  width: 70px;
  left: 10px;
  top: 10px;
  border: 5px solid #f5f5f5;
  border-radius: 50%;
}
.ball .b {
  position: absolute;
  height: 10px;
  width: 10px;
  left: calc(40% - 8px);
  top: calc(40% - 8px);
  border-radius: 50%;
  background-color: #f5f5f5;
}
.ball .c {
  position: absolute;
  width: 5px;
  height: 35px;
  left: calc(50%);
  top: calc(50% - 18px);
  background-color: #f5f5f5;
}
.ball .d {
  position: absolute;
  width: 15px;
  height: 5px;
  left: calc(50%);
  top: calc(50% + 15px);
  background-color: #f5f5f5;
}
.ball .e {
  position: absolute;
  width: 20px;
  height: 5px;
  left: calc(50% + 19px);
  top: calc(50%);
  background-color: #f5f5f5;
}
.text {
  color: #404040;
  font-family: "Segoe UI", "Microsoft Sans Serif", sans-serif;
}
.text .big {
  position: relative;
  top: 15px;
  font-weight: bold;
  font-size: 75px;
}
.text .small {
  position: relative;
  font-size: 30px;
}
