doctype html
html
    include head.pug
    .container
        .ball
            .shine
            .a
            .b
            .c
            .d
            .e
        .text
            .big LG
            .small Life`s Good